ul.js-toDoList {
  padding-left: 0;
}

li.toDo {
  list-style-type: none;
  font-size: 48px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

li.toDo:hover .delToDoBtn {
  visibility: visible;
  opacity: 1;
}

li.toDo:not(:last-child) {
  margin-bottom: 5px;
}

input.toDoCheckbox {
  display: none;
}

label.toDoText {
  padding-left: 65px;
  position: relative;
  cursor: pointer;
}

input.toDoCheckbox:checked + label.toDoText {
  text-decoration: line-through;
  color: rgba(255, 255, 255, .5);
}

input.toDoCheckbox + label.toDoText:before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

input.toDoCheckbox:checked + label.toDoText:before {
  width: 20px;
  top: -5px;
  left: 15px;
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, .5);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);  
}

.delToDoBtn {
  float: right;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  margin-top: 5px;
  visibility: hidden;
  opacity: 0;
  cursor: default;
  background: url( "../images/icon/bin.png" ) no-repeat;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.delToDoBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .5);
}