ul.js-toDoList {
  padding-left: 0;
}

li.toDo {
  list-style-type: none;
  font-size: 48px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

li.toDo:hover .delToDoBtn {
  visibility: visible;
  opacity: 1;
}

li.toDo:not(:last-child) {
  margin-bottom: 5px;
}

input.toDoCheckbox {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-left: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  background: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

input.toDoCheckbox:checked {
  background-color: white;
}

input.toDoCheckbox + span.toDoText {
  color: white;
}

input.toDoCheckbox:checked + span.toDoText {
  text-decoration: line-through;
  color: rgba(255, 255, 255, .8);
}

.delToDoBtn {
  float: right;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  visibility: hidden;
  opacity: 0;
  cursor: default;
  background: url( "../images/icon/bin.png" ) no-repeat;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.delToDoBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, .5);
}